<%
  breadcrumb
    .add_step(@move_connection.port_from, move_connection_path(@move_connection))
    .add_step(t("action.edit"))
%>

<%= render Page::HeadingComponent.new(title: @move.moveable, title: t(".title"), breadcrumb:) %>
<div class="col-12 p-4 border-top">
  <%= render partial: "form",
             locals: {
               move_connection: @move_connection,
               move: @move,
             } %>
</div>
