<% breadcrumb.add_step(t("action.create")) %>

<%= render Page::HeadingComponent.new(title: @move.moveable, title: t(".title"), breadcrumb:) %>
<div class="col-12 p-4 border-top">
  <%= render partial: "form",
             locals: {
               move_connection: @move_connection,
               url: move_connections_path(@move)
             } %>
</div>
